# images
*.bmp

# folders
/Debug
/x64
/packages
/SalesmanTest/x64/Debug
/Libraries/blend2d
/.vs
# /.vscode
/__pycache__
/docs/html
/docs/latex
/docs/build
/docs/xml
/Release

# libraries
*.dll
*.lib
*.obj

# compiled
*.exe
*.exp
*.pdb

# objectes
.cache
.deps
.recipe
.iobj
.ipdb

# logs
*.tlog
*.log

# cpython
*.pyc

# other
README.pdf